<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <!-- Include Tailwind CSS -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    {% load static %}
    <link rel="icon" type="image/png" href="{% static 'images/favicon.png' %}">
</head>
<body class="bg-gray-100">
    <!-- Header -->
    <header class="bg-white shadow">
        <div class="container mx-auto px-6 py-3">
            <div class="flex items-center justify-between">
                <div class="flex items-center">
                    <a class="text-xl font-bold text-gray-800 hover:text-gray-700" href="#">Bolome Agency</a>
                </div>
                <nav class="flex items-center">
                    <a class="text-gray-800 hover:text-gray-600 py-2 px-4" href="{% url 'home' %}">Home</a>
                    <a class="text-gray-800 hover:text-gray-600 py-2 px-4" href="{% url 'login' %}">Login</a>
                </nav>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <div class="flex items-center justify-center h-screen">
        <div class="max-w-md w-full bg-white shadow-lg rounded-lg p-6">
            <h2 class="text-2xl font-semibold mb-4">Login</h2>
            {% if error %}
            <p style="color: red;">{{ error }}</p>
        {% endif %}
            <form method="post" class="space-y-4">
                {% csrf_token %}
                <div>
                    <input type="text" name="username" placeholder="Username" class="w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:border-blue-500">
                </div>
                <div>
                    <input type="password" name="password" placeholder="Password" class="w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:border-blue-500">
                </div>
                <div>
                    <button type="submit" class="w-full bg-blue-500 text-white px-4 py-2 rounded-md hover:bg-blue-600 focus:outline-none focus:bg-blue-600">Login</button>
                </div>
            </form>
            <a href="{% url 'home' %}" class="text-gray-500 block mt-4 border border-gray-300 rounded-md px-4 py-2 text-center hover:bg-gray-200">Home</a>
        </div>
    </div>
</body>
</html>
